<div class="container">
    <div class="title">
        <h3 style="font-weight: 700;">Decorative Pole</h3>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true"><b>About</b></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="design-tab" data-bs-toggle="tab" data-bs-target="#design" type="button" role="tab" aria-controls="design" aria-selected="false"><b>Design Collection</b></button>
        </li>
      </ul>




      <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="about" role="tabpanel" aria-labelledby="about-tab">        
            <div class="row" >
                <div class="col-sm-5">
                    <div class="card">
                        <img src="assets/DD1.jpg" alt="Avatar" style="width:100%">
                      </div>
                </div>
                <div class="col-sm-7 maintext" >
                    <p>
                        Residential and commercial areas as well as parks, benefit from our Street Lighting Poles. <br><br>
                        Decorative and traditional street lighting poles are designed and manufactured by our company for use in communities. <br><br>
                        The backbone of street lighting, street light poles serve a variety of purposes ranging from providing appropriate illumination to beautifying metropolitan settings. <br><br>
                        Shakambhari Udyog, as a street light pole manufacturer, provides a variety of poles with mounting heights upto 12 metres and various arm brackets.
                    </p>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="design" role="tabpanel" aria-labelledby="design-tab">

            <div class="row blackrow">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/d0.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUD1</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/d3.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUD2</b></h4>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/d7.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUD3</b></h4>
                        </div>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/DD1.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUD4</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-8">
                    <div class="card">
                        <img class="subimg" src="assets/d22.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUD5</b></h4>
                        </div>
                      </div>
                </div>
            </div>
        
        
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/d15.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUD6</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/d16.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUD7</b></h4>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/d17.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUD8</b></h4>
                        </div>
                    </div>              
                </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                  <div class="card">
                      <img class="subimg" src="assets/D27.jfif" alt="Avatar" style="width:100%">
                      <div class="container">
                        <h4><b>SUD9</b></h4>
                      </div>
                  </div>              
              </div>
              <div class="col-sm-4">
                  <div class="card">
                      <img class="subimg" src="assets/D28.jpg" alt="Avatar" style="width:100%">
                      <div class="container">
                        <h4><b>SUD10</b></h4>
                      </div>
                    </div>
              </div>
              <div class="col-sm-4">
                  <div class="card">
                      <img class="subimg" src="assets/D30.jpg" alt="Avatar" style="width:100%">
                      <div class="container">
                        <h4><b>SUD11</b></h4>
                      </div>
                  </div>              
              </div>
          </div>

            <div class="row">
              <div class="col-sm-4">
                  <div class="card">
                      <img class="subimg" src="assets/D24.jpg" alt="Avatar" style="width:100%">
                      <div class="container">
                        <h4><b>SUD12</b></h4>
                      </div>
                  </div>              
              </div>
              <div class="col-sm-4">
                  <div class="card">
                      <img class="subimg" src="assets/D25.jpg" alt="Avatar" style="width:100%">
                      <div class="container">
                        <h4><b>SUD13</b></h4>
                      </div>
                    </div>
              </div>
              <div class="col-sm-4">
                  <div class="card">
                      <img class="subimg" src="assets/D26.jpg" alt="Avatar" style="width:100%">
                      <div class="container">
                        <h4><b>SUD14</b></h4>
                      </div>
                  </div>              
              </div>
          </div>

            <div class="row">
              <div class="col-sm-7">
                  <div class="card">
                      <img class="subimg" src="assets/BD19.jpg" alt="Avatar" style="width:100%">
                      <div class="container">
                        <h4><b>SUD15</b></h4>
                      </div>
                  </div>              
              </div>
              <div class="col-sm-5">
                  <div class="card">
                      <img class="subimg" src="assets/BD20.jpg" alt="Avatar" style="width:100%">
                      <div class="container">
                        <h4><b>SUD16</b></h4>
                      </div>
                  </div>              
              </div>
            </div>
          
        </div>

</div>