<div class="container-fluid BG">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 imgg" >
                <img class="image" src="../../assets/New folder/L1.png" alt="">
            </div>
            <div class="col-sm-8">
                    <div class="contacttext">
                        <h3><b>Contact Us</b></h3>
                        <p> <b>Email :</b>  shakambhariudyog@gmail.com <br>
                        <b>Phone :</b> +91 99809 07032 , +91 96863 77032   <br> <b>Postal address :</b>  Plot No 2-I ,KIADB Indl Area 
                            Tarihal ,HUBLI - 580026</p><br>
                    </div>
    
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d961.8316051392949!2d75.0438530291975!3d15.358798199332707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb8d599120fc495%3A0xec18375b027bb6c0!2sShakambhari%20Udyog!5e0!3m2!1sen!2sin!4v1636118595541!5m2!1sen!2sin" max-width="600" max-height="250"  allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    
                    <div class="formcustom">
                        <div class="formlabel">
                            <b>Send a message</b>
                        </div>
                        <div>
                            <form >
                                <div class="form-group">
                                    <input id="name" type="text" class="form-control" placeholder="Enter Name">
                                </div>
                                <div class="form-group">
                                    <input id="email" type="email" class="form-control" placeholder="Enter Email">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" id="message" class="form-control" cols="20" rows="5" placeholder="Leave a message"></textarea>
                                </div>
                            </form>
                        </div>
                        <div style="justify-items: center">
                            <button type="button" class="btn btn-info">Submit</button>
                        </div>
                    </div>
    
                    
            </div>
        </div>
    </div>
</div>