<div class="container">
    <div class="title">
        <h3 style="font-weight: 700;">Street Light Pole</h3>
    </div>


    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" [class.active]="view=='about'" (click)="onClick('about')" href="#"><b>About</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" [class.active]="view=='design'" (click)="onClick('design')" href="#"><b>Design Collection</b></a>
      </li>
    </ul>




    <div class="tab-content">

      <div [ngSwitch]='view'>
        <div *ngSwitchCase="'about'">
          <div class="tab-pane active"><br>
            <div class="row" >
              <div class="col-sm-5">
                  <div class="card">
                      <img src="assets/PP1.jpg" alt="Avatar" style="width:100%">
                    </div>
              </div>
              <div class="col-sm-7 maintext" >
                  <p>
                      Residential and commercial areas as well as parks, benefit from our Street Lighting Poles. <br><br>
                      Decorative and traditional street lighting poles are designed and manufactured by our company for use in communities. <br><br>
                      The backbone of street lighting, street light poles serve a variety of purposes ranging from providing appropriate illumination to beautifying metropolitan settings. <br><br>
                      Shakambhari Udyog, as a street light pole manufacturer, provides a variety of poles with mounting heights upto 12 metres and various arm brackets.
                  </p>
              </div>
          </div>
          </div>
        </div>


        <div *ngSwitchCase="'design'">
          <div  class="tab-pane"><br>
        
            <div class="row blackrow">
                <div class="col-sm-8">
                    <div class="card">
                        <img class="subimg" src="assets/PP2.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU1</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP3.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU2</b></h4>
                        </div>
                      </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP4.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU3</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-8">
                    <div class="card">
                        <img class="subimg" src="assets/PP5.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU4</b></h4>
                        </div>
                      </div>
                </div>
            </div>
        
            <div class="row blackrow">
                <div class="col-sm-3">
                    <div class="card">
                        <img class="subimg" src="assets/PP6.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU5</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img class="subimg" src="assets/PP7.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU6</b></h4>
                        </div>
                      </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/PP8.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU7</b></h4>
                        </div>
                      </div>
                </div>
            </div>
        
            <div class="row ">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP9.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU8</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP10.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU9</b></h4>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP11.png" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU10</b></h4>
                        </div>
                      </div>
                </div>
            </div>
        
            <div class="row blackrow">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP12.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU11</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP13.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU12</b></h4>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP25.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU13</b></h4>
                        </div>
                      </div>
                </div>
            </div>
        
            <div class="row ">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP15.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU14</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP16.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU15</b></h4>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP17.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU16</b></h4>
                        </div>
                      </div>
                </div>
            </div>

            <div class="row blackrow">
              <div class="col-sm-7">
                <div class="card">
                    <img class="subimg" src="assets/PP30.jpg" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h4><b>SU17</b></h4>
                    </div>
                  </div>
              </div>
              <div class="col-sm-5">
                  <div class="card">
                      <img class="subimg" src="assets/PP19.jpg" alt="Avatar" style="width:100%">
                      <div class="container">
                        <h4><b>SU18</b></h4>
                      </div>
                  </div>              
              </div>
            </div>
        
            <div class="row blackrow">
                <div class="col-sm-5">
                    <div class="card">
                        <img class="subimg" src="assets/PP20.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU19</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-7">
                    <div class="card">
                        <img class="subimg" src="assets/PP21.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU20</b></h4>
                        </div>
                      </div>
                </div>
            </div>
        
            <div class="row ">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP22.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU21</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP23.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU22</b></h4>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP24.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU23</b></h4>
                        </div>
                      </div>
                </div>
            </div>
        
            <div class="row blackrow">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP26.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU24</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP27.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU25</b></h4>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="subimg" src="assets/PP27.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SU26</b></h4>
                        </div>
                      </div>
                </div>
            </div>
          </div>
        </div>


        <div *ngSwitchCase="'specs'">
          <div class="tab-pane"><br>
        
          </div>
        </div>


        <div *ngSwitchDefault>
          <div class="tab-pane active"><br>
            <div class="row" >
              <div class="col-sm-5">
                  <div class="card">
                      <img src="assets/PP1.jpg" alt="Avatar" style="width:100%">
                    </div>
              </div>
              <div class="col-sm-7 maintext" >
                  <p>
                      Residential and commercial areas as well as parks, benefit from our Street Lighting Poles. <br><br>
                      Decorative and traditional street lighting poles are designed and manufactured by our company for use in communities. <br><br>
                      The backbone of street lighting, street light poles serve a variety of purposes ranging from providing appropriate illumination to beautifying metropolitan settings. <br><br>
                      Shakambhari Udyog, as a street light pole manufacturer, provides a variety of poles with mounting heights upto 12 metres and various arm brackets.
                  </p>
              </div>
          </div>
          </div>
        </div>         
      </div>
    </div>
</div>