<div class="container">
    <div class="title">
        <h3 style="font-weight: 700;">Bus Shelters</h3>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true"><b>About</b></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="design-tab" data-bs-toggle="tab" data-bs-target="#design" type="button" role="tab" aria-controls="design" aria-selected="false"><b>Design Collection</b></button>
        </li>
      </ul>




      <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="about" role="tabpanel" aria-labelledby="about-tab">        
            <div class="row" >
                <div class="col-sm-8">
                    <div class="card">
                        <img src="assets/BB1.jpg" alt="Avatar" style="width:100%">
                      </div>
                </div>
                <div class="col-sm-4 maintext" >
                    <p>
                       
                    </p>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="design" role="tabpanel" aria-labelledby="design-tab">
        
            <div class="row bluerow">
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/BB3.jpeg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB1</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/BB2.jfif" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB2</b></h4>
                        </div>
                    </div>              
                </div>
            </div>
        
            <div class="row blackrow">
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/BB4.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB3</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/BB5.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB4</b></h4>
                        </div>
                    </div>              
                </div>
            </div>
        
            <div class="row redrow">
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/BB6.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB5</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/BB7.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB6</b></h4>
                        </div>
                    </div>              
                </div>
            </div>
        
            <div class="row blackrow">
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/B12.jfif" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB7</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/B13.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB8</b></h4>
                        </div>
                    </div>              
                </div>
            </div>
        
            <div class="row bluerow">
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/B7.jfif" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB9</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/B4.jfif" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB10</b></h4>
                        </div>
                    </div>              
                </div>
            </div>
        
            <div class="row blackrow">
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/B2.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB11</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/B3.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB12</b></h4>
                        </div>
                    </div>              
                </div>
            </div>
        
            <div class="row redrow">
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/BB8.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB13</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/BB9.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB14</b></h4>
                        </div>
                    </div>              
                </div>
            </div>
        
            <div class="row blackrow">
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/BB10.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB16</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/BB11.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB17</b></h4>
                        </div>
                    </div>              
                </div>
            </div>
        
            <div class="row bluerow">
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/BB12.jfif" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB18</b></h4>
                        </div>
                    </div>              
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img class="subimg" src="assets/B8.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                          <h4><b>SUB19</b></h4>
                        </div>
                    </div>              
                </div>
            </div>
        </div>

    
</div>