<div class="container-fluid">
    <div class="row" style="text-align: center;padding: 20px 0px 20px 0px;background-color: rgb(32, 32, 32);">
        <h1 style="font-weight: 700;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: white;">Our Work</h1>
    </div>
</div>
<div class="container-fluid">


    <div class="work1">
        <div class="work1-img">
            <img src="../../assets/BS1.jpeg" alt="">
        </div>
        <div class="text">
                <h3>City Bus Shelter</h3>
                <p>This high-tech Bus shelter is for Vijaypur Urban Development Authority.
                    Located at Vijaypur, Karnataka.  
                </p>
        </div>
    </div>


    <div class="work2">
        <div class="text3">
            <h3>Decorative Arm-brackets </h3>
                        <p>We design and fabricate a variety of arm-brackets which fit to top of octagonal, conical or tubular poles.
                            These are some of the best design that we are proud to supply.
                        </p>
        </div>
        <div class="work2-1">
            <div class="work2-1">
                <img src="assets/PPPP1.jpg" alt="">
            </div>
            <div class="work2-1">
                <img src="assets/PP29.jpg" alt="">
            </div>
            <div class="work2-1">
                <img src="assets/PP31.jpg" alt="">
            </div>
        </div>
    </div>

    
    

    <div class="work3">
        <div class="work3-1">
            <div class="work3-img">
                <img src="assets/LP1.jpeg" alt="">
            </div>
            <div class="work3-img">
                <img src="assets/HH9.jpg" alt="">
            </div>
        </div>
        <div class="work3-1">
            <div class="work3-img">
                <img src="assets/HH7.jpeg" alt="">
            </div>
            <div class="work3-img">
                <img src="assets/HH8.jpeg" alt="">
            </div>
        </div>
        <div class="text3">
            <h3>Highmast Light System</h3>
                <p>We have been manufacturing Highmast pole with ladder as well as geared mechanism for better maintainance.
                    These are built in all form like octagonal, conical, tubular and the geared mechanism lies inside the pole 
                    which gives a clean finish to the structure.  
                </p>
        </div>
    </div>



    <div class="work4">
        <div class="work4-1">
            <img src="assets/CP4.jpeg" alt="">
        </div>
        <div class="text3">
            <h3>Curved Light Poles</h3>
            <p>These light poles are on of the most attractive elements in layouts and highways.
                We have supplied such poles to places like Hospet , Vijaypur and many cities all over Karnataka.  
            </p>
        </div>
        <div class="work3-1">
            <div class="work3-img">
                <img src="assets/PP15.jpg" alt="">
            </div>
            <div class="work3-img">
                <img src="assets/PP17.jpg" alt="">
            </div>
        </div>
    </div>
</div>