<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row slider">
          <img src="assets/MAIN1.jpg" alt="" class="responsive ">
          <div class="slidertext">
            <h3>Lighten your ways</h3>
            
            <p>Enlighten your surroundings with better
            infrastucture for improving the quality of
             life and provide the future with smater
              designs and lightings.</p>
            
            <button class="btn btn-info buttonslider"><a href=""><b>VIEW MORE ></b></a></button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row slider">
          <img src="assets/MAIN2.jpg" alt="" class="responsive ">
          <div class="slidertextleft">
            <h3>City infrastructure</h3>
            
            <p>Our engineering business is concerned with 
              the creation of supporting infrastructure.This includes city bus shelters, small scale industrial shed, grills and window panels and others.</p>
            
            <button class="btn btn-info buttonslider"><a href=""><b>VIEW MORE ></b></a></button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row slider">
          <img src="assets/HH2.png" alt="" class="responsive ">
          <div class="slidertextleft">
            <h3>High Mast Lighting</h3>
            
            <p>High masts can be erected at great heights to provide uniform
               illumination across a large region. Because of the motorised
                controls that lower and elevate the luminaires, it also makes 
                installation and maintenance of luminaires easier. </p>
            
            <button class="btn btn-info buttonslider"><a href=""><b>VIEW MORE ></b></a></button>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>