.slider{
    position: relative;
    padding: 15px 15px;
    background-color:black;
}


.responsive{
    width : 100%;
    position: relative;
    margin: auto;
    opacity: 60%;
}


@media screen and (min-width: 651px) {
    .responsive{
        height: 70vh;
    }

    .slidertext{
        position: absolute;
        right: 45px;
        margin: auto;
        max-width: 450px;
        align-self: center;
        padding: 10px;
        vertical-align: middle;
    }

    .slidertext h3{
        padding: 10px 0px;
        font-size: 2.2rem;
        color: azure;
        font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
    }
    
    .slidertext p{
        padding : 20px 5px;
        max-width: 350px;
        font-size: 1.4rem;
        color: azure;
    }
    
    
    .slidertext a{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.4rem;
        color: azure;
        text-decoration: none;
    }

    .buttonslider{
        margin-left: 5px;
        max-width: 200px;
    }

    .slidertextleft{
        position: absolute;
        left: 100px;
        margin: auto;
        max-width: 600px;
        align-self: center;
        padding: 10px;
        vertical-align: middle;
    }

    .slidertextleft h3{
        padding: 10px 0px;
        font-size: 2rem;
        color: azure;
        font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
    }
    
    .slidertextleft p{
        padding: 20px 5px;
        max-width: 500px;
        font-size: 1.4rem;
        color: azure;
    }
    
    
    .slidertextleft a{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.4rem;
        color: azure;
        text-decoration: none;
    }

    .buttonslider{
        margin-left: 5px;
        max-width: 200px;
    }
  }


@media screen and (max-width: 650px)
{
    .responsive{
        opacity: 100%;
        height: 35vh;
    }



    .slidertext{
        position: relative;
        margin: auto;
        max-width: 450px;
        align-self: center;
        padding: 10px;
        vertical-align: middle;
    }

    .slidertext h3{
        padding: 10px 0px;
        color: azure;
        font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
    }
    
    .slidertext p{
        max-width: 350px;
        color: azure;
    }

    
    .slidertext a{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: azure;
        text-decoration: none;
    }

    .buttonslider{
        max-width: 200px;
    }

    .slidertextleft{
        position: relative;
        margin: auto;
        max-width: 450px;
        align-self: center;
        padding: 10px;
        vertical-align: middle;
    }

    .slidertextleft h3{
        padding: 10px 0px;
        color: azure;
        font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
    }
    
    .slidertextleft p{
        max-width: 350px;
        color: azure;
    }

    
    .slidertextleft a{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: azure;
        text-decoration: none;
    }
    
}


/*below 1440px*/

  @media screen and (min-width: 1550px) {
    .responsive{
        height: 70vh;
    }

    .slidertext{
        position: absolute;
        right: 100px;
        margin: auto;
        max-width: 800px;
        align-self: center;
        padding: 10px;
        vertical-align: middle;
    }

    .slidertext h3{
        padding: 10px 0px;
        color: azure;
        font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
    }
    
    .slidertext p{
        padding-left: 15px;
        max-width: 650px;
        color: azure;
    }
    
    
    .slidertext a{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: azure;
        text-decoration: none;
    }

    .buttonslider{
        margin-left: 15px;
        min-width: 350px;
    }

    .slidertextleft{
        position: absolute;
        left: 100px;
        margin: auto;
        max-width: 800px;
        align-self: center;
        padding: 10px;
        vertical-align: middle;
    }

    .slidertextleft h3{
        padding: 10px 0px;
        color: azure;
        font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
    }
    
    .slidertextleft p{
        padding-left: 5px;
        max-width:650px;
        color: azure;
    }
    
    
    .slidertextleft a{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: azure;
        text-decoration: none;
    }

    .buttonslider{
        margin-left: 5px;
        min-width: 350px;
    }
  }